.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dictionary {
  display: grid;
  grid-template-areas: 'item item item item';
}

.ui.pagination.menu .item {
  min-width: 0em;
  align-self: unset;
}


.ui.secondary.pointing.menu .item.icon {
  align-self: unset;
  margin: -5px -20px -2px -4px;
}

.ui.avatar.image {
  width: 2.5em;
  height: 2.5em
}

.ui.card>.content, .ui.cards>.card>.content.head {
  flex-grow: 0;
}

i.icons {
  left: 4px;
}

.ui.checkbox {
  left: 9px;
}

.ui.segment.slider {
  padding: 1em 1.5em 1em 1em;
}

.toggle-global:hover {
  cursor: pointer;
  color: rgba(0,0,0,.8);
}

.ui.basic.button.navloader {
  box-shadow: none;
  margin-right: 2em;
}

.ui.basic.button:hover, .ui.basic.button:focus {
  box-shadow: none!important;
  cursor: inherit;
}

.ui.pagination.menu {
  margin-left: 0.75em!important;
}

#read-more {
  padding: 5px 31px;
}
